{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mathfilters %}
{% block title %} Lakshma |  Actual Shipment Details {% endblock title %}
{% block homeactive  %}active{% endblock homeactive  %}

{% block css %}
<style>
    
    .details thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    /*width: 10.6%;*/
    width: 410px;
}
   
tfoot {
     display: table-header-group;
}

.nav-tabs .nav-link {
    color: #fff;
    text-decoration: none;
    background-color: #e74c3c;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid #f8f9fa;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
 #myTab .nav-item{
  font-weight: bold;

}
/* .print-font{
        font-size:16px;
    } */
    @media print {
        .noprint {
           visibility: hidden;
        }
     }
</style>
{% endblock css %}

{% block body %}


  <div class="container-fluid print-font ">
      <div class="card table-responsive ">
        <div class=" text-center text-uppercase bg-info">
            <h4 class="">Actual Shipment Details</h4>
          </div>
        <table  class="table table-bordered table-striped details table-responsive table-sm  mb-0">
          <thead class="bg-info text-center">
            
            <tr>
              <th >Job Number</th>
              <th>Buyer Name</th>
              <th>Company Name</th>
              <th >Style Ref. No</th>
                      
            </tr>
          </thead>
          
          <tbody>
            
            <tr class="text-center">

              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              
              
            </tr>
            <tfoot>
                
            </tfoot>
            
            
            
          </tbody>
         
          
        </table>
        

    </div>
      <div class="card table-responsive ">
        
        <table  class="table table-bordered table-striped details table-responsive table-sm  mb-0">
          <thead class="text-center">
            
            <tr>
              <th >SL.</th>
              <th>Order Number </th>
              <th>Order Quantity</th>         
              <th>Shipment Date</th>         
              <th>Invoice No</th>         
              <th>Actual Ship Date</th>         
              <th>Invoice Quantity</th>         
              <th>Invoice Value</th>         
             
            </tr>
          </thead>
          
          <tbody class="text-center">
            
            <tr>
            <td >1</td>
            <td >LAK-O87</td>
            <td >5700</td>
            <td>22.02.2020</td>
            <td >LAK42423</td>
            <td ></td>
            <td >5700</td>
            <td >9120</td>
            
            </tr>
            <tfoot class="font-weight-bold text-center">
                <td colspan="6" class="text-right">Total:</td>
                <td>5700</td>
                <td>9120</td>
                
            </tfoot>
           
          </tbody>
         
          
        </table>

      
    </div>


  </div>
 
  <div class="container text-center mt-4 no-print">
    <button class="btn btn-sm btn-danger" onclick="window.print()">Print </button>
</div>

{% endblock body %}

{% block script %}

  
{% endblock script %}

