{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Lakshma | Order Report {% endblock title %}
{% block homeactive  %}active{% endblock homeactive  %}

{% block css %}
<style>
    
    .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    width: 140px;
}
tfoot {
     display: table-header-group;
}
</style>
{% endblock css %}

{% block body %}


  <div class="container-fluid">
    
      <div class="text-center"><h5>Job Order Selection Form</h5></div>
      <div class="card mt-2  ">
          <div class="search table-responsive  mt-1 text-center">
            <form method="GET" class="ml-2 mr-2" action="{% url 'order_selection' %}">
              <table  class="table table-bordered table-responsive-sm  table-sm">
                <thead class="bg-meroon">
                  <tr>
                    <th width="150px;">Company Name</th>
                    <th >Buyer Name</th>
                    <th >Job No </th>
                    <th >Style Ref</th>
                    <th >Internal Ref</th>
                    <th >File No.</th>
                    <th >Order No.</th>
                    <th >Inserted By</th>
                    <th >Start Date</th>
                    <th >End Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {{ myFilter.form.company_name|attr:"class:form-control"}}
                    </td>
                    <td>
                      {{ myFilter.form.buyer_name|attr:"class:form-control"}}
                    </td>
                    <td>
                      {{ myFilter.form.job_no|attr:"class:form-control"}}
                    </td>

                    <td>
                      {{ myFilter.form.style_ref|attr:"class:form-control"}}
                    </td>
                    <td>
                      {{ myFilter.form.internal_ref|attr:"class:form-control"}}
                    </td>
                    <td>
                      {{ myFilter.form.file_no|attr:"class:form-control"}}
                    </td>
                    <td>{{ myFilter.form.po_no|attr:"class:form-control"}}</td>
                    <td>{{ myFilter.form.inserted_by|attr:"class:form-control"}}</td>
                    
                    
                    <td>{{ myFilter.form.start_date|attr:"type:date"|attr:"class:form-control"|attr:"id:start_date"  }}</td>
                    <td>{{ myFilter.form.end_date|attr:"type:date"|attr:"class:form-control"|attr:"id:end_date"  }}</td>

                  </tr>
                  
                </tbody>
               
              </table>
              <div class="container justify-content-center align-content-center text-center">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-search mr-2" aria-hidden="true"></i>Show</button>
                <a href="{% url 'order_selection' %}" type="button" class="btn btn-sm btn-danger "><i class="fa fa-times" aria-hidden="true"></i> Reset</a>
              </div>
              
            </form>
            <div class="container ">
              <div class="d-flex justify-content-center table-responsive">
                <div class="p-2">
                  <table class="mb-1 table-sm  table-responsive-sm ">
                    <thead>
                        <td width="20%">
                          <select id="getYear" onChange="copyTextValue()" class="form-control">
                            <option value="" disabled selected>Select</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                          </select>
                        </td>
                        <td><button type="" class="btn btn-sm btn-info ml-2 " >Jan</button></td>
                        <td><button type="" class="btn btn-sm btn-info ml-2">Feb</button></td>
                        <td><button type="" class="btn btn-sm btn-info ml-2">Mar</button></td>
                        <td><button type="" class="btn btn-sm btn-info ml-2">Apr</button></td>
                        <td><button type="" class="btn btn-sm btn-info ml-2">May</button></td>
                        <td><button type="" class="btn btn-sm btn-info ml-2">Jun</button></td>
                        <td><button type="" class="btn btn-sm btn-info ml-2">Jul</button></td>
                        <td><button type="" class="btn btn-sm btn-info ml-2">Aug</button></td>
                        <td><button type="" class="btn btn-sm btn-info ml-2">Sep</button></td>
                        <td><button type="" class="btn btn-sm btn-info ml-2">Oct</button></td>
                        <td><button type="" class="btn btn-sm btn-info ml-2" onclick="myFunction()"  id="getMonth">Nov</button></td>
                        <td><button type="" class="btn btn-sm btn-info ml-2">Dec</button></td>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <form method="POST" action="{% url 'pre_costing' %}">
    {% csrf_token %}
  <div class="container-fluid">
     <div class="container-fluid mt-2 table-responsive">
      <table id="selection" name="selection" class="table table-bordered table-striped  table-responsive-sm table-sm display">
        <thead class="bg-info text-center">
          <tr>
            <th>SL.</th>
            <th>Year
            </th>
            <th>Job No</th>
            <th>Company</th>
            <th >Buyer Name</th>
            <th >Style Ref. No</th>
            <th >Internal Ref</th>
            <th >File No.</th>
            <th>Job Qty.</th>
             <th >PO Number</th>
            <th>PO Quantity</th>
            <th>Shipment Date</th>
            <th>Precost Id </th>
            <th>Action </th>
            
          </tr>
        </thead>
        <tfoot>
          <tr>
              <th></th>
            <th></th>
            <th> </th>
            <th></th>
            <th > </th>
            <th > </th>
            <th > </th>
            <th > </th>
            <th></th>
             <th > </th>
            <th> </th>
            <th> </th>
            <th>  </th>
            <th>  </th>
          </tr>
      </tfoot>
        
        <tbody class="text-center">
          {% for i in po_details %}
          <tr>

            <td>{{forloop.counter}}</td>
            <td></td>
            <td>{{i.po_job_no}}</td>
            <td>{{i.po_job_no.company_name}}</td>
            <td>{{i.po_job_no.buyer_name}}</td>
            <td>{{i.po_job_no.style_ref}}</td>
            <td>{{i.internal_ref}}</td>
            <td >{{i.file_no}}</td>
            <td >0</td>
            <td ><a class="dropdown-item" href="{% url 'add_order' i.id %}">{{i.po_no}}</a></td>
            <td >{{i.po_quantity}}</td>
            <td >{{i.pub_shipment_date}}</td>
            
            <td>0 </td>
            <td> <button type="submit" name="_task" class="btn btn-sm btn-success" value="{{ i.po_job_no }}">Select</button> </td>
          </tr>
          {% endfor %}
        </form>
        </tbody>
      </table>
    </div>
  </div>
  </form>

{% endblock body %}

{% block script %}
<script>
  $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#selection tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text"  class="form-controls" placeholder="Search" />' );
    } );
 
    // DataTable
    var table = $('#selection').DataTable({
      "lengthMenu": [[500,1000, -1], [500,1000, "All"]],
      "scrollY": 470,
      "scrollX": true,
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                        .search( this.value )
                        .draw();
                    }
                } );
            } );
        }
    });
} );

</script>

  
{% endblock script %}

