{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mathfilters %}
{% block title %} Lakshma | Trims Details {% endblock title %}
{% block homeactive  %}active{% endblock homeactive  %}

{% block css %}
<style>
    
    /* .details thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    width: 306px;
} */
   
tfoot {
     display: table-header-group;
}

.nav-tabs .nav-link {
    color: #fff;
    text-decoration: none;
    background-color: #e74c3c;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid #f8f9fa;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
 #myTab .nav-item{
  font-weight: bold;

}
/* .print-font{
        font-size:16px;
    } */
    @media print {
        .noprint {
           visibility: hidden;
        }
     }
</style>
{% endblock css %}

{% block body %}


  <div class="container-fluid print-font ">
      <div class="card table-responsive ">
        <div class=" text-uppercase bg-info text-center">
            <h3 class="">Trims Details</h3>
          </div>
        <table  class="table table-bordered table-striped details table-responsive-sm table-sm  mb-0">
          <thead class="bg-info text-center">
            <tr>
                <th colspan="3"></th>
                <th colspan="2" class="bg-secondary"> <h6  class="text-center font-weight-bold">Required [As pre-cost Budget] </h6></th>
                <th colspan="6" class="bg-success"> <h6  class="text-center font-weight-bold">Work Order Info </h6></th>
                <th colspan="3" class="bg-warning"> <h6  class="text-center font-weight-bold">Receive Info </h6></th>
                <th colspan="2" class="bg-dark"> <h6  class="text-center font-weight-bold">Issue Info </h6></th>
              </tr>
            <tr>
              <th >SL.</th>
              <th>Trims Name</th>
              <th>UOM</th>
              <th class="bg-secondary">Quantity</th>
              <th class="bg-secondary">Value</th>
              <th class="bg-success">Quantity</th>
              <th class="bg-success">Value</th>
              <th class="bg-success">WO No</th>
              <th class="bg-success">Supplier Name</th>
              <th class="bg-success">WO Date</th>
              <th class="bg-success">Delivery Date</th>
              <th class="bg-warning">Quantity</th>
              <th class="bg-warning">Value</th>
              <th class="bg-warning">Balance</th>
              <th class="bg-dark">Quantity</th>
              <th class="bg-dark">Balance</th>
                      
            </tr>
          </thead>
          
          <tbody>
            
            <tr class="text-center">
              <td>1.</td>
              <td>Poly[Dzn]</td>
              <td>Dzn</td>
              <td>237.50</td>
              <td>140.13</td>
              <td>414</td>
              <td>130.02</td>
              <td>LAK-O25</td>
              <td>Wintext Ltd.</td>
              <td>05-01-2022</td>
              <td>18-01-2022</td>
              <td>414.00</td>
              <td>130.02</td>
              <td>-176.50</td>
              <td>0.00</td>
              <td>114</td>
            </tr>
            <tr class="text-center">
              <td>1.</td>
              <td>Hand Tag[Dzn]</td>
              <td>Dzn</td>
              <td>237.50</td>
              <td>140.13</td>
              <td>414</td>
              <td>130.02</td>
              <td>LAK-O25</td>
              <td>Wintext Ltd.</td>
              <td>05-01-2022</td>
              <td>18-01-2022</td>
              <td>414.00</td>
              <td>130.02</td>
              <td>-176.50</td>
              <td>0.00</td>
              <td>114</td>
            </tr>
            <tr class="text-center">
              <td>1.</td>
              <td>Tag Pin[Box]</td>
              <td>Dzn</td>
              <td>237.50</td>
              <td>140.13</td>
              <td>414</td>
              <td>130.02</td>
              <td>LAK-O25</td>
              <td>Wintext Ltd.</td>
              <td>05-01-2022</td>
              <td>18-01-2022</td>
              <td>414.00</td>
              <td>130.02</td>
              <td>-176.50</td>
              <td>0.00</td>
              <td>114</td>
            </tr>
            <tfoot class="font-weight-bold text-center">
                <td colspan="3" class="text-right">Total:</td>
                <td>2742.31</td>
                <td>558.77</td>
                <td>2190.92</td>
                <td>507.00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>507.00</td>
                <td>507.00</td>
                <td>507.00</td>
                <td>507.00</td>
                <td>507.00</td>

                
            </tfoot>
            
            
            
          </tbody>
         
          
        </table>
        

    </div>
     


  </div>
 
  <div class="container text-center mt-4 no-print">
    <button class="btn btn-sm btn-danger" onclick="window.print()">Print </button>
</div>

{% endblock body %}

{% block script %}

  
{% endblock script %}

