{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mathfilters %}
{% block title %} Lakshma | Order Report {% endblock title %}
{% block homeactive  %}active{% endblock homeactive  %}

{% block css %}
<style>
    
    .details thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    /*width: 10.6%;*/
    width: 180px;
}
   
tfoot {
     display: table-header-group;
}

.nav-tabs .nav-link {
    color: #fff;
    text-decoration: none;
    background-color: #e74c3c;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid #f8f9fa;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
 #myTab .nav-item{
  font-weight: bold;

}
</style>
{% endblock css %}

{% block body %}


  <div class="container-fluid">
    
      <div class="card table-responsive mt-2">
          <div class="card-header text-uppercase bg-dark">
            <h3 class="card-title">Work Progress Report Details PO Wise</h3>
          </div>
          <table  class="table table-bordered table-striped  table-responsive table-sm details mb-0">
            <thead class="bg-secondary">
              
              <tr>
                <th>Company Name</th>
                <th>Buyer Name</th>
                <th>Job No</th>
                <th>Style Ref.</th>
                <th >Lead Time</th>
                <th >Order No</th>
                <th >Garments Item</th>
                <th >SMV</th>
                <th>Product Dept.</th>
                 <th >Pacikng Info</th>
               
                
              </tr>
            </thead>
           
            
            <tbody>
              
              <tr>

                <td>{{work_progress.po_job_no.company_name}}</td>
                <td>{{work_progress.po_job_no.buyer_name}}</td>
                <td>{{work_progress.po_job_no}}</td>
                <td>{{work_progress.po_job_no.style_ref}}</td>
                <td>{{work_progress.lead_time}}</td>
                <td >{{work_progress.po_no}}</td>
                <td >
                  {% for item in work_progress.color_size.all|slice:":1" %}
                    {{item.gmt_items}}
                  {% endfor %}
                </td>
                <td >{{work_progress.po_job_no.smv}}</td>
                <td >{{work_progress.po_job_no.product_dept}}</td>
                <td >{{work_progress.po_job_no.packing}}</td>
                
              
                
              </tr>
              
              
            </tbody>
           
            
          </table>
          
  
      </div>

  </div>
  <div class="container-fluid">

        <!-- DETAILS TABS-->
        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            
          <li class="nav-item ">
              <a class="nav-link active" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="true">Order Details</a>
          </li>
         
          <li class="nav-item text-white ">
              <a class="nav-link" id="gmts-tab" data-toggle="tab" href="#gmts" role="tab" aria-controls="gmts" aria-selected="false">Gmts Image</a>
          </li>
          <li class="nav-item font-weight-bold">
              <a class="nav-link" id="size-tab" data-toggle="tab" href="#size" role="tab" aria-controls="Size and Color" aria-selected="false">Size and Color Deatils</a>
          </li>
          <li class="nav-item font-weight-bold">
              <a class="nav-link" id="cost-tab" data-toggle="tab" href="#cost" role="tab" aria-controls="Cost Info" aria-selected="false">Cost Info</a>
          </li>
          <li class="nav-item font-weight-bold">
              <a class="nav-link" id="fabric-tab" data-toggle="tab" href="#fabric" role="tab" aria-controls="Fabric Info" aria-selected="false">Fabric Info</a>
          </li>
          <li class="nav-item font-weight-bold">
              <a class="nav-link" id="sample-tab" data-toggle="tab" href="#sample" role="tab" aria-controls="Sample Approval" aria-selected="false">Sample Approval</a>
          </li>
          <li class="nav-item font-weight-bold">
              <a class="nav-link" id="labdip-tab" data-toggle="tab" href="#labdip" role="tab" aria-controls="Labdip Approval" aria-selected="false">Labdip Approval</a>
          </li>
          <li class="nav-item font-weight-bold">
              <a class="nav-link" id="trims-tab" data-toggle="tab" href="#trims" role="tab" aria-controls="Trims App" aria-selected="false">Trims App</a>
          </li>
          <li class="nav-item font-weight-bold">
              <a class="nav-link" id="production-tab" data-toggle="tab" href="#production" role="tab" aria-controls="Production Info" aria-selected="false">Production Info</a>
          </li>
        </ul>
          <!-- FOR DETAILS  -->
        <div class="tab-content mb-5" id="myTabContent">
          <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="order-tab">
            <div class="p-4 p-lg-5 bg-white">
              
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm" >
                    <thead >
                        
                        <tr>
                            <th class="text-left" width="190px">Order Qnty</th>
                            <th class="text-left text-muted" width="220px"> {{work_progress.po_quantity}} </th>
                            <th class="text-left" width="190px"> Fabric Description </th>
                            <th class="text-left text-muted">Single Jersey Cotton 100%, Single Jersey Cotton 100%, Cut Off Cotton 100%, Single Jersey Cotton 100%, Single Jersey Cotton 100%, Cut Off Cotton 100% </th>
                            
                        </tr>
                        <tr>
                            <th class="text-left" width="190px">Uniy Price</th>
                            <th class="text-left text-muted" width="220px"> {{work_progress.avg_price}} </th>
                            <th class="text-left" width="190px"> Fabric consumption </th>
                            <th class="text-left text-muted">0 </th>
                            
                        </tr>
                        <tr>
                            <th class="text-left" width="190px">Order Value</th>
                            <th class="text-left text-muted" width="220px"> {{work_progress.po_quantity|mul:work_progress.avg_price}}</th>
                            <th class="text-left" width="190px"> Yarn Required </th>
                            <th class="text-left text-muted">.2529, 2.8966, .9402, .1379, .3.1179 </th>
                            
                        </tr>
                        <tr>
                            <th class="text-left" width="190px">Pub-shipment Date</th>
                            <th class="text-left text-muted"  width="220px"> {{work_progress.pub_shipment_date}} </th>
                            <th class="text-left" width="190px"> Count  </th>
                            <th class="text-left text-muted">24s, 1500/144F </th>
                            
                        </tr>
                        <tr>
                            <th class="text-left" width="190px">P.O Recieve Date</th>
                            <th class="text-left text-muted" width="220px">  {{work_progress.po_recieve_date}} </th>
                            <th class="text-left" width="190px"> GSM </th>
                            <th class="text-left text-muted">Top, Bottom </th>
                            
                        </tr>
                        <tr>
                            <th class="text-left" width="190px">Factory Recv. Date</th>
                            <th class="text-left text-muted" width="220px"> {{work_progress.fac_recieve_date}} </th>
                            <th class="text-left" width="190px"> Machine/Line </th>
                            <th class="text-left text-muted"> </th>
                            
                        </tr>
                        <tr>
                            <th class="text-left" width="190px">Dealing Merchant</th>
                            <th class="text-left text-muted" width="220px">{{work_progress.po_job_no.dealing_merchant}}</th>
                            <th class="text-left" width="190px"> Prod/Line/Hrs </th>
                            <th class="text-left text-muted"> </th>
                            
                        </tr>
                    </thead>
                    
                </table>
            </div>
            </div>
          </div>
          <!-- FOR Garments Image  -->
          <div class="tab-pane fade" id="gmts" role="tabpanel" aria-labelledby="gmts-tab">
              <div class="p-4 p-lg-5 bg-white">
                  <div>
                    {% if work_progress.po_job_no.image %}
                    <img width="300px" src="{{work_progress.po_job_no.image.url}}" alt="">
                    {% endif %}
                  </div>
                  
              </div>
          </div>
           <!-- FOR Size and Color Deatils  -->
          <div class="tab-pane fade " id="size" role="tabpanel" aria-labelledby="size-tab">
            <div class="p-4 p-lg-5 bg-white">
              
              <table class="table table-bordered table-sm " id="table_field">
                <thead class="bg-light">
                    <tr>
                        <th>SL.</th>
                        <th class=" text-center" width="180px">Gmts Item</th>
                        <th class=" text-center">Article No</th>
                        <th class=" text-center">Color</th>
                        <th class=" text-center">Size</th>

                        <th class=" text-center">Quantity</th>
                      
                    </tr>
                </thead>
                <tbody >
                    {%  for item in work_progress.color_size.all %}
                    <tr class="text-center">
                        <td>
                            {{forloop.counter}}
                        </td>
                        <td class="text-center">
                          {{item.gmt_items}}
                        </td>
                        <td class="text-center">
                          {{item.article_number}}
                        </td>
                        <td class="text-center">
                          {{item.color}}
                        </td>
                        <td class="text-center">
                          {{item.size}}
                        </td> 
                        <td class="text-center">
                          {{item.order_qty}}
                        </td> 
                        
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
          </div>
           <!-- FOR Cost Info  -->
          <div class="tab-pane fade " id="cost" role="tabpanel" aria-labelledby="cost-tab">
            <div class="p-4 p-lg-5 bg-white">
              
              <p class="text-muted text-small mb-0">Hello </p>
            </div>
          </div>
           <!-- FOR Fabric Info  -->
          <div class="tab-pane fade " id="fabric" role="tabpanel" aria-labelledby="fabric-tab">
            <div class="p-4 p-lg-5 bg-white">
              
              <p class="text-muted text-small mb-0">Hello </p>
            </div>
          </div>
           <!-- FOR Sample Approval  -->
          <div class="tab-pane fade " id="sample" role="tabpanel" aria-labelledby="sample-tab">
            <div class="p-4 p-lg-5 bg-white">
              
              <p class="text-muted text-small mb-0">Hello </p>
            </div>
          </div>
           <!-- FOR Labdip Approval -->
          <div class="tab-pane fade " id="labdip" role="tabpanel" aria-labelledby="labdip-tab">
            <div class="p-4 p-lg-5 bg-white">
              
              <p class="text-muted text-small mb-0">Hello </p>
            </div>
          </div>
          <!-- FOR Trims App -->
          <div class="tab-pane fade " id="trims" role="tabpanel" aria-labelledby="trims-tab">
            <div class="p-4 p-lg-5 bg-white">
              
              <p class="text-muted text-small mb-0">Hello </p>
            </div>
          </div>
          <!-- FOR Production Info -->
          <div class="tab-pane fade " id="production" role="tabpanel" aria-labelledby="production-tab">
            <div class="p-4 p-lg-5 bg-white">
              
              <p class="text-muted text-small mb-0">Hello </p>
            </div>
          </div>
  
      
         
  
  
       
      </div>
      
    
  </div>


{% endblock body %}

{% block script %}

  
{% endblock script %}

