{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mathfilters %}
{% block title %} Lakshma | Accessories Approval Details {% endblock title %}
{% block homeactive  %}active{% endblock homeactive  %}

{% block css %}
<style>
    
    .details thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    /*width: 10.6%;*/
    width: 306px;
}
   
tfoot {
     display: table-header-group;
}

.nav-tabs .nav-link {
    color: #fff;
    text-decoration: none;
    background-color: #e74c3c;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid #f8f9fa;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
 #myTab .nav-item{
  font-weight: bold;

}
/* .print-font{
        font-size:16px;
    } */
    @media print {
        .noprint {
           visibility: hidden;
        }
     }
</style>
{% endblock css %}

{% block body %}


  <div class="container-fluid print-font ">
      <div class="card table-responsive ">
        <div class="card-header text-uppercase bg-info">
            <h3 class="card-title">Accessories Approval Details</h3>
          </div>
        <table  class="table table-bordered table-striped details table-responsive table-sm  mb-0">
          <thead class="bg-info text-center">
            
            <tr>
              <th >Job Number</th>
              <th>Buyer Name</th>
              <th>Company Name</th>
              <th >Style Ref. No</th>
                      
            </tr>
          </thead>
          
          <tbody>
            
            <tr class="text-center">

              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              
              
            </tr>
            <tfoot>
                
            </tfoot>
            
            
            
          </tbody>
         
          
        </table>
        

    </div>
      <div class="card table-responsive ">
        
        <table  class="table table-bordered table-striped details table-responsive table-sm  mb-0">
          <thead class="text-center">
            
            <tr>
              <th>SL.</th>
              <th >PO Number</th>
              <th>Accessories Type</th>
              <th >Target Date</th>
              <th >To Supplier</th>
              <th >To Buyer</th>  
              <th>Status </th>            
              <th>Approval Date</th>            
              <th>Supplier</th>            
              <th>Remarks</th>            
                   
            </tr>
          </thead>
          
          <tbody class="text-center">
            
            <tr>
                <td>1.</td>
                <td >9898</td>
                <td >Tag Pin[Box]</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td >Approved</td>
                <td >27-12-2021</td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>2.</td>
                <td >9898</td>
                <td >Tag Pin[Box]</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td >Approved</td>
                <td >27-12-2021</td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>3.</td>
                <td >9898</td>
                <td >Tag Pin[Box]</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td >Approved</td>
                <td >27-12-2021</td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>4.</td>
                <td >9898</td>
                <td >Tag Pin[Box]</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td >Approved</td>
                <td >27-12-2021</td>
                <td ></td>
                <td ></td>
            </tr>
           
            <tfoot>
                
            </tfoot>
            
            
            
          </tbody>
         
          
        </table>
        

    </div>


  </div>
 
  <div class="container text-center mt-4 no-print">
    <button class="btn btn-sm btn-danger" onclick="window.print()">Print </button>
</div>

{% endblock body %}

{% block script %}

  
{% endblock script %}

