{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mathfilters %}
{% block title %} Lakshma | Cutting finish Details {% endblock title %}
{% block homeactive  %}active{% endblock homeactive  %}

{% block css %}
<style>
    
    .details thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    /*width: 10.6%;*/
    width: 306px;
}
   
tfoot {
     display: table-header-group;
}

.nav-tabs .nav-link {
    color: #fff;
    text-decoration: none;
    background-color: #e74c3c;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid #f8f9fa;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
 #myTab .nav-item{
  font-weight: bold;

}
/* .print-font{
        font-size:16px;
    } */
    @media print {
        .noprint {
           visibility: hidden;
        }
     }
</style>
{% endblock css %}

{% block body %}


  <div class="container-fluid print-font ">
      <div class="card table-responsive ">
        <div class=" text-center text-uppercase bg-info">
            <h4 class="">Finish Fabric Details</h4>
          </div>
        <table  class="table table-bordered table-striped details table-responsive table-sm  mb-0">
          <thead class="bg-info text-center">
            
            <tr>
              <th >Job Number</th>
              <th>Buyer Name</th>
              <th>Company Name</th>
              <th >Style Ref. No</th>
              <th >Plan Cut</th>
              <th >Order Quantity</th>
              <th >TNA Actual Finish Date</th>
                      
            </tr>
          </thead>
          
          <tbody>
            
            <tr class="text-center">

              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              
              
            </tr>
            <tfoot>
                
            </tfoot>
            
            
            
          </tbody>
         
          
        </table>
        

    </div>
      <div class="card table-responsive ">
        
        <table  class="table table-bordered table-striped details table-responsive table-sm  mb-0">
            <div class=" bg-info"><h5 class="font-weight-bold ml-3"> Actual Quantity</h5></div>
          <thead class="text-center">
            
            <tr>
              <th >Color/Size</th>
              <th>Color Quantity</th>
              <th>S</th>         
              <th>M</th>         
              <th>XL</th>         
              <th>L</th>         
              <th>XXL</th>         
              <th>Total</th>         
              <th>Balance</th>         
                   
            </tr>
          </thead>
          
          <tbody class="text-center">
            
            <tr>
            <td >JET BLACK</td>
            <td >877</td>
            <td >63</td>
            <td >327</td>
            <td >166</td>
            <td >325</td>
            <td >63</td>
            <td >940</td>
            <td >-63</td>
            </tr>
            <tr>
            <td >COAL GREY</td>
            <td >877</td>
            <td >63</td>
            <td >327</td>
            <td >166</td>
            <td >325</td>
            <td >63</td>
            <td >940</td>
            <td >-63</td>
            </tr>
            <tr>
            <td >TRUE RED</td>
            <td >877</td>
            <td >63</td>
            <td >327</td>
            <td >166</td>
            <td >325</td>
            <td >63</td>
            <td >940</td>
            <td >-63</td>
            </tr>
           
           
            
            
            
            
          </tbody>
         
          
        </table>

        <table  class="table table-bordered table-striped details table-responsive table-sm  ">
            <div class=" bg-info"><h5 class="font-weight-bold ml-3"> Pending Quantity</h5></div>
          <thead class="text-center">
            
            <tr>
              <th >Color/Size</th>
              <th>S</th>         
              <th>M</th>         
              <th>XL</th>         
              <th>L</th>         
              <th>XXL</th>         
              <th>Total</th>         
                   
            </tr>
          </thead>
          
          <tbody class="text-center">
            
            <tr>
            <td >JET BLACK</td>
            <td >-11</td>
            <td >-18</td>
            <td >-11</td>
            <td >-12</td>
            <td >-11</td>
            <td >-63</td>
            </tr>
            <tr>
            <td >JET BLACK</td>
            <td >-11</td>
            <td >-18</td>
            <td >-11</td>
            <td >-12</td>
            <td >-11</td>
            <td >-63</td>
            </tr>
            
           
           
            
            
            
            
          </tbody>
         
          
        </table>
        

    </div>


  </div>
 
  <div class="container text-center mt-4 no-print">
    <button class="btn btn-sm btn-danger" onclick="window.print()">Print </button>
</div>

{% endblock body %}

{% block script %}

  
{% endblock script %}

