{% extends "index.html" %}
{% load static %}
{% block title %} Hermoso | Change Password {% endblock title %}
{% block homeactive  %}active{% endblock homeactive  %}

{% block css %}
<style>
    
      
</style>
{% endblock css %}


{% block body %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten  ">
   
    <div class="container">
        <div class="mt-5"> {% include 'Index/alerts.html' %}</div>
        <div class="row mt-5">
       
        <main class="col-md-9">
            <article class="card">
            <header class="card-header text-center">
                <h4 class="d-inline-block ">Change Your Password</h4>
                
            </header>
            <div class="card-body">
               
                <div class="row"> 
                    
                    <div class="col-md-12">
                        <form action="{% url 'change_password' %}" method="POST" >
                            {% csrf_token %}
                            
                    
                            <div class="form-group ">
                                <label>Current Password</label>
                                <input type="password" name="current_password" class="form-control" required>
                            </div>
                            <div class="form-group ">
                                <label>New Password</label>
                                <input type="password" name="new_password" class="form-control" required>

                            </div>
                            <div class="form-group ">
                                <label>Confirm New Password</label>
                                <input type="password" name="confirm_password" class="form-control" required>

                            </div>
                            
                            <input type="submit" value="Save" class="btn btn-danger">
                        </form>
                        
                    </div>
                    
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock body %}



{% block script %}
{% endblock script %}