{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Lakshma | Report-Purchase Form To Bank {% endblock title %}
{% block homeactive  %}active{% endblock homeactive  %}

{% block css %}
<style>
    tfoot {
      display:table-header-group;
    }
</style>
{% endblock css %}

{% block body %}
<div class="container-fluid search-box">
  <div class="d-flex">
    <div class="mr-auto p-2">
      <a type="button" href="{% url 'purchase' %}" class="btn btn-sm btn-info gr"><i class="fa fa-plus" aria-hidden="true"></i> Add Purchase</a>
      <a type="button" href="{% url 'purchase_report' %}" class="btn btn-sm btn-success gr">Purchase Report</a>
    </div>
    <div class="p-2">
      <a  type="btn" class="btn btn-sm btn-light " onClick="javascript:history.go(-1);"><i class="fa fa-undo" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="text-center mt-2 font-weight-bold"><h5>Purchase Report</h5></div>
    <div class="card mt-2">
        <div class=" table-responsive  search mt-1 text-center">
          <form method="GET" class="ml-2 mr-2" action="{% url 'purchase_report' %}">
              <table  class="table table-bordered  table-responsive-sm table-sm">
                <thead class="bg-meroon">
                  <tr>
                    <th>Factory Name</th>
                    <th>Job No.</th>
                    <th>Order No.</th>
                    <th>Buyer Name</th>
                    <th>Bill No</th>
                    <th>Payment Status</th>
                    <th>Purchase Date </th>
                    <th>Start Date</th>
                    <th>End Date </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ myFilter.form.factory_name|attr:"class:form-control"}}</td>
                    <td>{{ myFilter.form.job_no|attr:"class:form-control"}}</td>
                    <td>{{ myFilter.form.order_no|attr:"class:form-control"}}</td>
                    <td>{{ myFilter.form.buyer_name|attr:"class:form-control"}}</td>
                    <td>{{ myFilter.form.bill_no|attr:"class:form-control"}}</td>
                    <td>{{ myFilter.form.payment_status|attr:"class:form-control"}}</td>

                    <td>{{ myFilter.form.bill_date|attr:"type:date"|attr:"class:form-control" }}</td>
                    <td>{{ myFilter.form.start_date|attr:"type:date"|attr:"class:form-control" }}</td>
                    <td>{{ myFilter.form.end_date|attr:"type:date"|attr:"class:form-control" }}</td>
                  </tr>
                </tbody>
              </table>
            <div class="container justify-content-center align-content-center text-center">
              <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-search mr-2" aria-hidden="true"></i> Search</button>
              <a href="{% url 'purchase_report' %}" type="button" class="btn btn-sm btn-danger ml-1"><i class="fa fa-times mr-2" aria-hidden="true"></i> Reset</a>
            </div>
          </form>
        </div>

        <div class="container ">
          <div class="d-flex justify-content-center table-responsive">
            <div class="">
              <table class="mb-1 table-sm  table-responsive-sm ">
                <thead>
                    <td width="20%">
                      <select id="getYear" onChange="copyTextValue()" class="form-control">
                        <option value="" disabled selected>Select</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                      </select>
                    </td>
                    <td><button type="" class="btn btn-sm btn-info ml-2 " >Jan</button></td>
                    <td><button type="" class="btn btn-sm btn-info ml-2">Feb</button></td>
                    <td><button type="" class="btn btn-sm btn-info ml-2">Mar</button></td>
                    <td><button type="" class="btn btn-sm btn-info ml-2">Apr</button></td>
                    <td><button type="" class="btn btn-sm btn-info ml-2">May</button></td>
                    <td><button type="" class="btn btn-sm btn-info ml-2">Jun</button></td>
                    <td><button type="" class="btn btn-sm btn-info ml-2">Jul</button></td>
                    <td><button type="" class="btn btn-sm btn-info ml-2">Aug</button></td>
                    <td><button type="" class="btn btn-sm btn-info ml-2">Sep</button></td>
                    <td><button type="" class="btn btn-sm btn-info ml-2">Oct</button></td>
                    <td><button type="" class="btn btn-sm btn-info ml-2" onclick="myFunction()"  id="getMonth">Nov</button></td>
                    <td><button type="" class="btn btn-sm btn-info ml-2">Dec</button></td>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>

  {% if  '/purchase_report/?' in request.get_full_path %}
  <div class="container-fluid ">
     <div class=" table-responsive  ">
      <table id="purchase_report" class="table table-bordered table-hover text-center table-striped table-sm table-responsive-sm table-info">
        <thead class="bg-info">
          <tr>
            <th colspan="9"></th>
            <th colspan="9" class="bg-secondary"> <h5  class="text-center font-weight-bold">Liability Adustment </h5></th>
            <th colspan="5" ></th>
          </tr>

          <tr>
            <th >SL.</th>
            <th >Factory Name</th>
            <th >Job No.</th>
            <th  >Order No.</th>
            <th >Buyer Name</th>
            <th >Purchase No.</th>
            <th >Purchase Date</th>
            <th>Bill No</th>
            <th  > Export Bill Amount</th>

            <th class="bg-danger ">BTB</th>
            <th class="bg-danger "> PC </th>
            <th  class="bg-danger " >SND</th>
            <th  class="bg-danger ">Term </th>
            <th class="bg-danger ">Time </th>
            <th class="bg-danger ">OD </th>
            <th class="bg-danger ">EDF </th>
            <th class="bg-danger "> Com.</th>
            <th class="bg-danger ">Tax </th>
            <th class=" bg-success" >CM Requested</th>
            <th class=" bg-success" >Approve CM</th>
            <th class=" bg-danger">Due</th>
             <th class="" >Payment Status</th>
            <th class="">Action </th>
          </tr>
        </thead>

        <tfoot id="purchaseReport" >
          <tr>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th class=" text-danger"></th>
             <th > </th>
            <th> </th>
          </tr>
        </tfoot>
        <tbody class="bg-form">
          {% for i in purchase_list %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.factory_name}}</td>
            <td>{{i.job_no}}</td>
            <td>{{i.order_no}}</td>
            <td>{{i.buyer_name}}</td>
            <td>{{i.purchase_no}}</td>
            <td>{{i.bill_date}}</td>
            <td>{{i.bill_no}}</td>
            <td class="billamount">{{i.bill_value|floatformat:2}}</td>

            <td class="btb_lc_amt">{{i.btb_lc_amt|floatformat:2}}</td>
            <td class="pc_amount_amt">{{i.pc_amount_amt|floatformat:2}}</td>
            <td class="snd_amount_amt" >{{i.snd_amount_amt|floatformat:2}}</td>
            <td class="term_loan_amt">{{i.term_loan_amt|floatformat:2}}</td>
            <td class="time_loan_amt">{{i.time_loan_amt|floatformat:2}}</td>
            <td class="od_loan_amt">{{i.od_loan_amt|floatformat:2}}</td>
            <td class="edf_interest_amt">{{i.edf_interest_amt|floatformat:2}}</td>
            <td class="buying_com_amt">{{i.buying_com_amt|floatformat:2}}</td>
            <td class="tax_other_amt">{{i.tax_other_amt|floatformat:2}}</td>
            <td class="req_cm">{{i.net_amount|floatformat:2}}</td>
            <td class="app_cm" >{{i.approve_net_amt|floatformat:2}}</td>
            <td class="due_amt">{{i.due_amt|floatformat:2}}</td>
            <td >{{i.payment_status}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="dropdown">Action</button>
                <button type="button" class="btn btn-danger btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'view_purchase' i.id %}"><i class="fas fa-eye text-info  mr-2" data-toggle="tooltip" data-placement="bottom" title="View"></i> View</a>
                  <a class="dropdown-item" href="{% url 'update_purchase' i.id %}"><i class="fas fa-pencil-alt text-warning mr-2" data-toggle="tooltip" data-placement="bottom" title="Update"></i> Edit</a>
                  <a class="dropdown-item" href="{% url 'print_purchase' i.id %}"><i class="fas fa-print text-warning mr-2" data-toggle="tooltip" data-placement="bottom" title="Print"></i> Print Purchase Form</a>
                  <a class="dropdown-item" href="{% url 'delete_purchase' i.id %}" onclick="return confirm('Are you sure you want to delete this item?')"><i class="fas fa-trash text-danger  mr-2 " data-toggle="tooltip" data-placement="bottom" title="Delete"></i> Delete</a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <th colspan="8" class="text-right font-weight-bold">Total: </th>
          <th id="b_amt" class="bg-yel"></th>
          <th class="bg-danger" id="btb">0</th>
          <th class="bg-danger" id="pc">0</th>
          <th class="bg-danger" id="snd">0</th>
          <th class="bg-danger" id="term">0</th>
          <th class="bg-danger" id="time">0</th>
          <th class="bg-danger" id="od">0</th>
          <th class="bg-danger" id="edf">0</th>
          <th class="bg-danger" id="buy">0</th>
          <th class="bg-danger" id="tax">0</th>
          <th id="total_cm_requested" class="bg-success"></th>
          <th id="total_app_cm" class="bg-success"></th>
          <th id="dueTotal" class="bg-danger"></th>
          <th ></th>
          <th ></th>
        </tfoot>
      </table>
    </div>
  </div>
  {% endif %}



{% endblock body %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#purchase_report #purchaseReport th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" class="search-form-control" placeholder="Search" />' );
    } );
    
 
    // DataTable
    var table = $('#purchase_report').DataTable({
        drawCallback: function(){
          const b_amt = this.api().column(8,{search:'applied'}).data().toArray().reduce((total,b_amt) => total+=Number(b_amt.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#b_amt').text(` ${(b_amt)}`);

          const btb = this.api().column(9,{search:'applied'}).data().toArray().reduce((total,btb) => total+=Number(btb.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#btb').text(` ${(btb)}`);
  
          const pc = this.api().column(10,{search:'applied'}).data().toArray().reduce((total,pc) => total+=Number(pc.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#pc').text(` ${(pc)}`);
  
          const snd = this.api().column(11,{search:'applied'}).data().toArray().reduce((total,snd) => total+=Number(snd.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#snd').text(` ${(snd)}`);
  
          const term = this.api().column(12,{search:'applied'}).data().toArray().reduce((total,term) => total+=Number(term.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#term').text(` ${(term)}`);
  
          const time = this.api().column(13,{search:'applied'}).data().toArray().reduce((total,time) => total+=Number(time.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#time').text(` ${(time)}`);
  
          const od = this.api().column(14,{search:'applied'}).data().toArray().reduce((total,od) => total+=Number(od.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#od').text(` ${(od)}`);
  
          const edf = this.api().column(15,{search:'applied'}).data().toArray().reduce((total,edf) => total+=Number(edf.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#edf').text(` ${(edf)}`);
  
          const buy = this.api().column(16,{search:'applied'}).data().toArray().reduce((total,buy) => total+=Number(buy.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#buy').text(` ${(buy)}`);
  
          const tax = this.api().column(17,{search:'applied'}).data().toArray().reduce((total,tax) => total+=Number(tax.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#tax').text(` ${(tax)}`);
  
          const total_cm_requested = this.api().column(18,{search:'applied'}).data().toArray().reduce((total,total_cm_requested) => total+=Number(total_cm_requested.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#total_cm_requested').text(` ${(total_cm_requested)}`);
  
          const total_app_cm = this.api().column(19,{search:'applied'}).data().toArray().reduce((total,total_app_cm) => total+=Number(total_app_cm.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#total_app_cm').text(` ${(total_app_cm)}`);
  
          const dueTotal = this.api().column(20,{search:'applied'}).data().toArray().reduce((total,dueTotal) => total+=Number(dueTotal.replace(/[^0-9\.]/g,'')),0).toFixed(2);
          $('#dueTotal').text(` ${(dueTotal)}`);
        },
        dom: 'Bfrtip',
        buttons: [
          {
              extend: 'copyHtml5',
              exportOptions: {
                columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15,16,17,18,19,20,21]
              }
          },
          {
              extend: 'excelHtml5',
              exportOptions: {
                columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15,16,17,18,19,20,21]
              }
          },
          {
              extend: 'csvHtml5',
              exportOptions: {
                columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15,16,17,18,19,20,21]
              }
          },
          {
              extend: 'pdfHtml5',
              exportOptions: {
                columns: ':visible'
              }
          },
          'colvis'
        ],
        "targets": 'no-sort',
        "bSort": false,
        "bPaginate": false,
        "ordering": false,
        "info":     false,
        "scrollY": 470,
        "scrollX": true,
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        }
    });
 
} );
</script>

<script>
    // FOR SHOWING THE TODAY DATE 
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10) {
        dd = '0'+dd
      } 
    if(mm<10) {
        mm = '0'+mm
      } 
    // today = yyyy + '/' + mm + '/' + dd;
    today = yyyy + '-' + mm + '-' + dd;
    console.log(today);
    document.getElementById('invoice_date').innerHTML = today;
  </script>
{% endblock script %}

